In [1]:
import keyword

In [3]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
keyword.iskeyword('as')

True

# Print function

In [3]:
x = '54'
y = int(x)
print(y+4)

58

In [1]:
print('anurag')

anurag

In [2]:
print('anurag','soni',sep = "@")

anurag@soni

In [3]:
print('anurag', end = ' ')
print('soni')

anurag soni

In [4]:
print('anurag\nsoni')

anurag
soni

In [5]:
print('anrag\tsoni')

anrag	soni

In [7]:
name = 'anurag'
surname = 'soni'
print(name, surname, sep = '-')

anurag-soni

In [5]:
name = 'anurag'
surname = 'soni'
print(f'hey, hi my name is {name} and my surname is {surname}.')

hey, hi my name is anurag and my surname is soni.

In [7]:
age = 25
h = 5
print(f'{age:04}')
print(f'bhaiya mujhe {age} and {h} and {age+h}')

0025
bhaiya mujhe 25 and 5 and 30

In [8]:
print(True + 1)

2

In [12]:
x = 5
y = 4
print(x, y)
print(x+y)

5 4
9

In [13]:
a = 'anurag'
b = 'soni'
print(a, b)
print(a + b)

anurag soni
anuragsoni

In [16]:
c = 5
d = 'anurag'
print(c, d)
# print(c + d)

5 anurag

In [18]:
f = 'anurag'
print(id(f)) # gives memory address

1616913940912

# Keywords

In [19]:
import keyword

In [22]:
print(len(keyword.kwlist))

35

In [25]:
keyword.iskeyword('in')

True

# Variables

In [26]:
x = 54
print(x)

54

In [28]:
x, y, z = 2, 4, 5
print(x, y, z)

2 4 5

In [1]:
a = 24
print(a)
del a
# print(a) # NameError: name 'a' is not defined

24

In [34]:
a, b = 4, 5
a, b = b, a
print(a, b)

5 4

In [36]:
name = 'anurag'
print(name, "is my name")

anurag is my name

In [39]:
print(name := 'anurag is my name') # inline assigning the variable
print(name)

anurag is my name
anurag is my name

In [41]:
x = 5
print(x)
x = 'anurag'
print(x)
x = 5.2
print(x)

5
anurag
5.2

In [44]:
x : int = 5 # type annotation
print(x)
x = 'sgs'
print(x)

5
sgs

In [46]:
# nested variable
x = [[1,2,4,50],[4,5,7,8]]
print(x)

[[1, 2, 4, 50], [4, 5, 7, 8]]

In [51]:
# variable packing and unpacking
x = ['anurag','sara','alia'] # packing

In [50]:
a,b,c = x # unpacking
print(a, b, c)

anurag sara alia

# type conversion

In [53]:
x = 5
print(type(type(x)))

<class 'type'>

In [57]:
# isinstance
y = 45
print(isinstance(y, int))

True

In [1]:
name = 'anurag'
surname = 'soni'
print(f'my name is {name} and my surname is {surname}')

my name is anurag and my surname is soni

In [5]:
# explicit
x = 4
y = float(x)
type(y)

float

In [3]:
# coersion
x = 5 + 0.0
x
type(x)

float

In [4]:
a = '4567'
y = int(a)
type(y)

int

In [5]:
b = '34543ffsd'
z = int(b)
type(z)

ValueError: invalid literal for int() with base 10: '34543ffsd'

# Operators

In [1]:
# aruthemetic operators
x = 5
y = 10
z = x + y
print(z)

15

In [7]:
x = 5
y = 10
z = y / x
print(int(z))
z = y // x
print(z)
z = y**x
print(z)

2
2
100000

In [11]:
x = 6
y = 5
print(x == y)
print(x != y)
print(x < y)
print(x > y)

False
True
False
True

In [15]:
x = True
y = False
print(x or y)
print(x and y)
print(not x)
print(not y)

True
False
False
True

In [17]:
x = "Anurag"
print('u' in x)
print('u' not in x)

True
False

In [18]:
x = 5
y = x
print(x is y)

True

# Conditional Statements

In [20]:
x = 19
if(x == 9):
    print('hi')
elif(x < 5 and x == 10):
    print('hello')
elif(x < 5 or x == 10):
    print('bye')
else:
    print('Good Night')

Good Night

# Basic Questions

In [21]:
# Write a Python program to print "Hello, World!",
print("Hello, World!")

Hello, World!

In [22]:
# Write a Python program that takes two numbers as input and prints their sum.
x = int(input("Number 1: "))
y = int(input("Number 2: "))
print(x+y)

11

In [24]:
# Print a sentence with both single and double quotes.
print("""Hey', It's "Me".""")

Hey', It's "Me".

In [25]:
# Print a string with formatting using the % operator.

In [26]:
# Write a Python program to assign the value 10 to a variable named x and print its value.
x = 10
print(x)

10

In [27]:
# Write a Python program to swap the values of two variables a and b without using a temporary variable.
x = 5
y = 10

In [50]:
# Declare multiple variables in a single line and print their values.
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [51]:
# Change the value of a variable and print its new value.
x = 10
print(x)
x = 12
print(x)

10
12

In [49]:
# Declare a variable without assigning a value to it.
x

In [52]:
# Print the type of a variable.
type(x)

int

In [32]:
# Create a variable with a dynamically generated name and assign a value to it.

In [53]:
# Use variable unpacking to assign values from a list or tuple to multiple variables
a = ['a','b','c']
x, y, z = a
print(x, y, z)

a b c

In [34]:
# Use variable annotations to specify the type of a variable in a Python program.

In [56]:
# Write a Python program using a keyword as a variable name and see if it raises any error.
integer = 5
print(integer)
char = 'c'
print(char)

5
c

In [36]:
# Declare a constant variable and try to change its value.

In [4]:
# Use the del keyword to delete a variable
x = 5
print(x)
del x
print(x)

5

NameError: name 'x' is not defined

In [61]:
# Write a Python program to convert an integer to a string and print its type.
x = 5
z = str(x)
type(z)

5

str

In [39]:
# Write a Python program that takes user input as a string and converts it to an integer, handling the exception if the input is not convertible.

In [2]:
# Convert a float to an integer and print its type.
l = 5.5
m = int(l)
type(m)

int

In [3]:
# Convert a string to an integer and print its type.
a = '4567'
y = int(a)
type(y)

int

In [73]:
# Convert a string to a float and print its type.
x = '5'
c = float(x)
print(c)
type(c)

5.0

float

In [1]:
# Convert a boolean to an integer and print its type.
x = True
z = int(x)
type(z)

int

In [57]:
# Check if a variable is None or if it is an integer greater than zero.

In [58]:
# Check if the length of a string is within a specified range and if the string contains a specific character.

# Book Price Calculator

In [12]:
# book_name = input("Enter book name: ")
book_quantity = int(input("Enter books quantity: "))
book_price = float(input("Enter books price: "))

Enter books quantity:  2
Enter books price:  560

In [13]:
if(book_quantity >= 5 and book_price > 500):
    discount = float(input("Enter discount: "))
else:
    discount = float(input("Enter discount: "))

discounted_amount = book_price*discount
final_price = book_price-discounted_amount

print(discounted_amount)
print(final_price)

Enter discount:  .2

112.0
448.0

# ATM Withdrawer

In [18]:
account_balance = float(input("Enter actual account balance present in your amount: "))
amount = float(input("Enter amount you want to withdraw: "))
if(money >= amount):
    print(amount, "debited from your account!!")
    account_balance -= amount
else:
    print("Transaction Failed... Amount is less than money on your account!!")
print("Money left in your account after withdrawing:",account_balance)

Enter actual account balance present in your amount:  1000
Enter amount you want to withdraw:  200

200.0 debited from your account!!
Money left in your account after withdrawing: 800.0

# Segrigate children based on persentage

In [32]:
subjects = int(input("Enter number of subjects you want to enter: "))
marks = 0
total = 0
for i in range(subjects):
    numbers = int(input("Enter numbers (Out of 50/100): "))
    subject = int(input("Enter marks for subject: "))
    marks += subject
    total += numbers
percentage = marks/total*100
if(percentage >= 90.0):
    print("A+")
elif(percentage < 90.0 and percentage >= 80.0):
    print("A")
elif(percentage < 80.0 and percentage >= 70.0):
    print("B+")
elif(percentage < 70.0 and percentage >= 60.0):
    print("B")
elif(percentage < 60.0 and percentage >= 50.0):
    print("C+")
elif(percentage < 50.0 and percentage >= 40.0):
    print("C")
else:
    print("Fail!!")

Enter number of subjects you want to enter:  2
Enter numbers (Out of 50/100):  100
Enter marks for subject:  90
Enter numbers (Out of 50/100):  50
Enter marks for subject:  45

A+

# Math Library

In [1]:
import math as m

In [3]:
# To find square root
y = m.sqrt(25)
y

5.0

In [4]:
# Power
x = m.pow(2, 3)
x

8.0

In [14]:
# ceil and floor
print(m.ceil(4.1))

5

In [15]:
print(m.floor(4.9))

4

# String Datatype

In [5]:
x = '''anurag'''
y = 'sss'
z = "sdfsdgafdgd"
print(x)
type(y)
type(z)

anurag

str

In [7]:
text = "0123456789"
# even_digits = text[::2]
odd_digits = text[1:8:3]
print(odd_digits)

147

In [9]:
text = "hello world"
cap_text = text.capitalize()
print(cap_text)

Hello world

In [10]:
text = "hello world"
u_t = text.upper()
print(u_t)

HELLO WORLD

In [11]:
text = "hello world"
l_t = text.lower()
print(l_t)

hello world

In [12]:
text = "hello world"
t_t = text.title()
print(t_t)

Hello World

In [14]:
text = "HEllo wORld"
s_c_t = text.swapcase()
print(s_c_t)

heLLO WorLD

In [17]:
text = "           hello world       "
s_t = text.strip()
print(s_t)
# lstrip() and rstrip()

hello world

In [25]:
text = "hello world"
s_w_h = text.startswith("hello") # true
e_w_w = text.endswith("orld") # true
print(s_w_h)

True

In [23]:
text = "hello world"
index_of_world = text.find("world") # 6
index_of_python = text.find("Python") # -1
print(index_of_world)
print(index_of_python)

6
-1

In [26]:
text = "hello world"
count_of_world = text.count("o")
print(count_of_world)

2

In [28]:
text = "hello world"
rep = text.replace("world", "Universe")
print(rep)

hello Universe

In [29]:
alpha_text = "Python"
digit_text = "123"
alnum = "Python123"

print(alpha_text.isalpha())
print(digit_text.isdigit())
print(alnum.isalnum())

True
True
True

In [30]:
text = "Python is fun and Python is easy"
parts = text.partition("is")
print(parts)

('Python ', 'is', ' fun and Python is easy')

In [34]:
text = "Python\tis\tfun"
exp_tab = text.expandtabs(8)
print(exp_tab)

Python  is      fun

In [33]:
# isspace()
# islower()
# isupper()

#### String Operations

In [2]:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

Hello World

In [5]:
name = "John"
age = 25
message = "My name is " + name + " and I am " + str(age) + " years old."
print(message)

My name is John and I am 25 years old.

In [7]:
words = ["Python", "is", "awesome"]
joined_text = '-'.join(words)
print(joined_text)

Python-is-awesome

In [8]:
name = "Anurag"
age = 22
formatted_text = "My name is {} ans I am {} years old.".format(name, age)
print(formatted_text)

My name is Anurag ans I am 22 years old.

#### Repetition

In [9]:
str1 = "Python"
rep_word = str1*3
print(rep_word)

PythonPythonPython

In [11]:
base_text = "The answer is: "
mul = 5
result = base_text + "42 " * mul
print(result)

The answer is: 42 42 42 42 42

In [19]:
str1 = "Aniket"
rep_word = str1 + " " + "and" + " " + ("Sara" + " ")*3 
print(rep_word)

Aniket and Sara Sara Sara

#### String Stripping

In [20]:
text = "        Python is fun                "
stripped_text = text.strip()
print(stripped_text)

Python is fun

In [21]:
text = "        Python is fun                "
stripped_text = text.lstrip()
print(stripped_text)

Python is fun

In [22]:
text = "        Python is fun                "
stripped_text = text.rstrip()
print(stripped_text)

        Python is fun

#### Splitting

In [26]:
text = "apple,orange,banana"
fruits = text.split(',')
print(fruits)

['apple', 'orange', 'banana']

In [32]:
sentence = "Python is a powerful programming language"
words_with_limit = sentence.split(maxsplit = 3)
print(words_with_limit)

['Python', 'is', 'a', 'powerful programming language']

In [34]:
new = "Hi sara how are you"
x = new.split(maxsplit = 3)
print(x)

['Hi', 'sara', 'how', 'are you']

#### Partition

In [37]:
text = "Pyathon is awesome"
new_text = text.partition("a")
print(new_text)

('Py', 'a', 'thon is awesome')

In [38]:
text = "apple,orange;banana"
multiple_delimeters = text.split(",") + text.split(";")
print(multiple_delimeters)

['apple', 'orange;banana', 'apple,orange', 'banana']

In [45]:
text = "John,Doe,30"
firstName, lastName, age = text.split(",")
print(firstName, lastName, age, )

John Doe 30

#### Searching

In [46]:
# .find()
text = "Python is powerful"
pos = text.find("is")
print(pos)

7

#### Replacement

In [48]:
text = "Python is easy and is fun"
# .replace
nt = text.replace("Python", "Java")
print(nt)

Java is easy and is fun

#### count

In [49]:
text = "addsavajbvlakjsdbladhsbflDBHC"
ct = text.count("a")
print(ct)

5

#### string operators

In [50]:
check = "Python" in "Hello, Python!"
check

True

In [51]:
str1 = "apple"
str2 = "banana"
compare = str1 < str2
compare

True

In [52]:
words = ["apple", "banana", "orange"]
largest_word = max(words)
smallest_word = min(words)
print(largest_word)
print(smallest_word)

orange
apple

In [60]:
char = input("Enter a single character: ")

if char.isalpha():
    if char.lower() in ('a','e','i','o','u'):
        print("The character is a vowel")
    else:
        print("The character is a consonant.")
else:
    print("Invalid input.")

Enter a single character:  sara

The character is a consonant.

In [72]:
char = input("Enter a single character: ")

if char.isalpha():
    for i in char:
        if i.lower() in ('a','e','i','o','u'):
            print("The character is a vowel")
            break
    else:
        print("The character is a consonant.")
else:
    print("Invalid input.")

Enter a single character:  Aniket

The character is a vowel

In [76]:
char = input("Enter a single character: ")

if char.isalpha():
    if ('a' in char or 'e' in char or'i' in char or'o' in char or'u' in char or 'A' in char
       or 'E' in char or 'I' in char or 'O' in char or 'U' in char):
        print("The character is a vowel")
    else:
        print("The character is a consonant.")
else:
    print("Invalid input.")

Enter a single character:  StUpid

The character is a vowel

# List